---
Name: metatags
After:
  - "#coreconfig"
---
SilverStripe\SiteConfig\SiteConfig:
  extensions:
    - Sunnysideup\MetaTags\Extension\MetaTagsSiteConfigDE

SilverStripe\CMS\Model\SiteTree:
  extensions:
    - Sunnysideup\MetaTags\Extension\MetaTagsSTE
  show_meta_generator_version: false
  # meta_generator: "Made with aroha in Aotearoa by Sunny Side Up (www.sunnysideup.co.nz)"

SilverStripe\CMS\Controllers\ContentController:
  extensions:
    - Sunnysideup\MetaTags\Extension\MetaTagsContentControllerEXT

SilverStripe\Core\Injector\Injector:
  Psr\SimpleCache\CacheInterface.metatags:
    factory: SilverStripe\Core\Cache\CacheFactory
    constructor:
      namespace: "metatags"

SilverStripe\i18n\i18n:
  default_locale: en-NZ
