#########################
# METATAGS
#########################



Sunnysideup\MetaTags\Extension\MetaTagsContentControllerEXT:
  meta_desc_length: 24
  no_search_engine_instructions: true
  no_automated_menu_title: true
  no_automated_meta_description: true
  use_separate_metatitle: true
  no_additional_meta_settings: true

Sunnysideup\MetaTags\Api\MetaTagsApi:
  fonts:
    - https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap
  viewport_setting: 'width=device-width,initial-scale=1'

  twitter_handle: "relevant_twitter_handle"
  og_image_method_map:
    "ProductPage": "MyProductImage"
    "Page": "Image"

  skipped_tags:
    - baseTag
    - title
    - metaTitle
    - canonical
    - ie
    - viewport
    - description
    - robots
    - googlebot
    - created
    - rights
    - ogtitle
    - ogtype
    - ogurl
    - ogsite_name
    - ogdescription
    - ogimage
    - twittertitle
    - twitterdescription
    - twitterurl
    - twittersite
    - twittercard
    - twitterimage

#########################
#########################
