#########################
# METATAGS
#########################

MetaTagsSTE:


MetaTagsContentControllerEXT:
  meta_desc_length: 24
  #must be set to one to work - NOT TRUE!
  use_separate_metatitle: 0
  default_css:
    - mycss
  jquery_cdn_location: "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"
  default_js:
    - 'mysite/javascript/test.js'
  alternative_jquery_location: "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"
  viewport_setting: 'width=device-width,initial-scale=1'
  og_image_method_map:
    "ProductPage": "MyProductImage"
    "Page": "Image"
  twitter_handle: "relevant_twitter_handle"
  google_font_collection:
    - Inconsolata
  folder_for_combined_files: 'cache'
  combine_css_files_into_one: true
  combine_js_files_into_one: true

MetaTagCMSControlPages:
  url_segment: "metatagmanagementpages"
  small_words_array: []

MetaTagCMSControlFiles:
  url_segment: "metatagmanagementfiles"
  recycling_bin_name: 'ZzzeRecyclingBin'
  records_per_page: 10

MetaTagCMSFixImageLocations:
  folders_to_ignore:
    - myfolder

#########################
#########################
