#########################
# METATAGS
#########################

MetaTagsSTE:
  default_editor_file: "/path/to/detault/editor/css/file.css"
  default_reset_file: "/path/to/detault/editor/css/file.css"


MetaTagsContentControllerEXT:
  meta_desc_length: 24
  no_search_engine_instructions: true
  no_automated_menu_title: true
  no_automated_meta_description: true
  use_separate_metatitle: true
  no_additional_meta_settings: true
  default_css:
    - mycss
  jquery_cdn_location: "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"
  default_js:
    - 'mysite/javascript/test.js'
  alternative_jquery_location: "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"
  viewport_setting: 'width=device-width,initial-scale=1'
  og_image_method_map:
    "ProductPage": "MyProductImage"
    "Page": "Image"
  twitter_handle: "relevant_twitter_handle"
  favicon_sizes:
    - 16
    - 64
    - 128
  google_font_collection:
    - Inconsolata
  folder_for_combined_files: 'cache'
  combine_css_files_into_one: true
  combine_js_files_into_one: true


#########################
#########################
